$primary-color:  #008081;

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    background-color: $primary-color;
}
.title {
  font-family: Arial Black;
  font-size: 36px;
  color: #fff;
  margin-right: 7px;
}
.logo {
  height: 50px;
}
